.grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.large {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    border: 1px solid black ;
}
.small {
    width: 100%;
    height: 100%;
    
    border: 1px solid black;

}
#a{
    background-color: aqua;
}
#b{
    background-color: bisque;
}
#c{
    background-color: blueviolet;
}
#d{
    background-color: brown;
}